<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>Debug </title>
</head>
<body>
    <div class="container">

        <div class="page-header">
            <h1>Login</h1>
            <p class="lead">basic認証をHTMLからやってみる.</p>
        </div>

        <div>
            <div class="form-group">
                <label for="userId">Your Id</label>
                <input type="text" class="form-control" id="userId" placeholder="Your Id">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>

            <button type="button" class="btn btn-default" onClick="login()">Login</button>
        </div>

    
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/docs.min.js"></script>
    <script type="text/javascript">

        // todo validate

        function login() {

            var id = $('#userId').val();
            var pass = $('#password').val();

            if (id.match(/^[ 　\r\n\t]*$/)
                || pass.match(/^[ 　\r\n\t]*$/)) {
                return;
            }

            var next =
                location.protocol + '//'
                + location.host + '/'
                + 'login/'
                + id + '/'
                + 'pass/'
                + pass;

            location.href = next;
        }

        $('#password').keypress(function (e)
        {
            if (e.which === 13) {
                login();
            }
        });
    </script>
    
</body>
</html>