<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>Debug </title>
</head>
<body>
    <div class="container">

        <div class="page-header">
            <h1>Users</h1>
            <p class="lead">debug user list.</p>
        </div>

        <button type="button" class="btn btn-default" onClick="toAddUser()">Add User</button>

        <h3>list of user</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Password</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @Each.Users
                <tr>
                    <td>@Current.Id</td>
                    <td>@Current.Name</td>
                    <td>@Current.Password</td>
                    <td>@Current.Role</td>
                </tr>
                @EndEach
            </tbody>
        </table>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/docs.min.js"></script>
    <script type="text/javascript">

        function toAddUser() {
            location.href = '/users/add';
        }
    </script>
    
</body>
</html>