@{
  Layout = "Master.cshtml";
}


<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="page-header">
            <h1>Login</h1>
        </div>
        <form id="loginForm" method="post">
          <fieldset class="form-group">
              <label for="userId">Your Id</label>
              <input type="text" name="userId" class="form-control" id="userId" placeholder="Your Id">
          </fieldset >
          <fieldset class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" class="form-control" id="password" placeholder="Password">
          </fieldset >
          <button type="submit" class="btn btn-primary" id="login" >Login</button>
        </form>
    </div>
    <div class="col-md-3"></div>

</div> <!-- /container -->


@section js {
    <!--<script src="/js/jquery.base64.min.js" ></script>-->
    <script type="text/javascript">
      $(function () {

        $('#login').click(function(){
          var id = $('#userId').val();
          var pass = $('#password').val();

          if (id.match(/^[ 　\r\n\t]*$/)
              || pass.match(/^[ 　\r\n\t]*$/)) {
              return false;
          }
          $('#loginForm').submit();


        });
      });

</script>
}
