@using System.Runtime.CompilerServices;

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- add css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/typeaheadjs.css" rel="stylesheet">

    @RenderSection("css", false)

</head>
<body>

    @RenderBody()

    <!-- add js -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-2.2.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/typeahead.bundle.min.js"></script>
    <script src="/js/tips.js"></script>


    @RenderSection("js", false)
</body>
</html>
