@{
  Layout = "ProjectMaster.cshtml";
}


@section Projectcss{
<style type="text/css">
<!--

.panel > .panel-heading.spi {
    background-image: none;
    background-color: paleturquoise;
    color: deepskyblue;
}

.panel > .panel-heading.cpi {
    background-image: none;
    background-color: lightsalmon;
    color: orangered;
}

.panel > .panel-heading.prg {
    background-image: none;
    background-color: lightgreen;
    color: green;
}

.panel > .panel-heading.rem {
    background-image: none;
    background-color: indianred;
    color: darkred;
}

.panel > .panel-heading.avg {
    background-image: none;
    background-color: pink;
    color: palevioletred;
}

.panel > .panel-body > h1 {
    margin: 6px 6px;
}
.panel > .panel-body > h4 {
    margin: 6px 6px;
}

-->
</style>

}


<div class="row" style="margin-bottom:6px;">
  <div class="col-md-12" >
    <h3>Project Report</h3>

    <form class="form-inline" >
      <div class="form-group">
        <label for="startDay">StartDay</label>
        <input type="text" class="form-control" id="startDay" placeholder="yyyy/MM/dd">
      </div>
      <div class="form-group">
        <label for="endDay">EndDay</label>
        <input type="text" class="form-control" id="endDay" placeholder="yyyy/MM/dd">
      </div>
      <button type="button" id="updateCommand" class="btn btn-default" >update</button>
    </form>

  </div>
</div>

<div class="row">

  <div class="col-md-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading spi">
        <h4>SPI</h4>
      </div>
      <div class="panel-body">
        <h1 id="spi" class="text-center dbl"></h1>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xs-6">
    <div class="panel panel-default" >
      <div class="panel-heading cpi">
        <h4>CPI</h4>
      </div>
      <div class="panel-body ">
        <h1 id="cpi" class="text-center dbl"></h1>
      </div>
    </div>
  </div>

  <div class="col-md-2 col-xs-4">
    <div class="panel panel-default" >
      <div class="panel-heading prg">
        <h4>Progress</h4>
      </div>
      <div class="panel-body">
        <h1 id="progress" class="text-center dbl"></h1>
      </div>
    </div>
  </div>

  <div class="col-md-2 col-xs-4">
    <div class="panel panel-default" >
      <div class="panel-heading rem">
        <h4>Remaining</h4>
      </div>
      <div class="panel-body ">
        <h1 id="remaining" class="text-center dbl"></h1>
      </div>
    </div>
  </div>

  <div class="col-md-2 col-xs-4">
    <div class="panel panel-default" >
      <div class="panel-heading avg">
        <h4>Average</h4>
      </div>
      <div class="panel-body ">
        <h1 id="average" class="text-center dbl"></h1>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-md-12" >
    <h3>Trend Chart</h3>
    <canvas id="trend"  ></canvas>
  </div>
</div>
<div class="row">
  <div class="col-md-12" >
    <h3>PI Chart</h3>
    <canvas id="pi" ></canvas>
  </div>
</div>


@section ProjectJs{
<script src="/js/ccchart-min.js"></script>
<script type="text/javascript">
  $(function () {

    $( document ).ready( function() {
      var dt = new Date();
      $('#startDay').val('');
      $('#endDay').val(dt.toLocaleDateString());
      $('#updateCommand').click();
    });

    $('#updateCommand').click(function(e){

      var startDay = $('#startDay').val();
      var endDay = $('#endDay').val();
      var url = '/api/project/@Model.Project.Id/report';
      var jsonData = {
        startDay:startDay,
        endDay:endDay,
      };
      getJson(url, jsonData, viewReport);
    });

    function viewReport(data){

      $('#spi').text(data.spi);
      $('#cpi').text(data.cpi);
      $('#progress').text(data.progress);
      $('#remaining').text(data.remaining);
      $('#average').text(data.average);

      makeTrendChart(data.days, data.pvx, data.evx, data.acx);
      makePiChart(data.days, data.spix, data.cpix);

      $('.dbl').each(function(){
        var n = Number($(this).text());
        $(this).text(n.toFixed(1));
      });

    }



    function makeTrendChart(days, pvx, evx, acx){
      var dx = ["X"].concat(days);
      var pv = ["PV"].concat(pvx);
      var ev = ["EV"].concat(evx);
      var ac = ["AC"].concat(acx);

      var trend = {

        "config": {
          "width": 800,
          "height": 240,
          "axisYLen":5,
          //"title": "Trend Chart",
          //"subTitle": "",
          "type": "line",
          "lineWidth": 4,
          //"xScaleXOffset": 4,
          "colorSet":
                ["lightblue","red","orange"],
          //"bgGradient": {
          //        "direction":"vertical",
          //        "from":"#222",
          //        "to":"#687478"
          //      }
          "bg": "white",
          //"useMarker": "css-ring",
          //"markerWidth": 12,
          "shadows":{
            "all":['#fff', 0, 0, 0]
          }
        },

        "data": [
          toDays(dx),
          pv,
          ev,
          ac
        ]
      };
      ccchart.init('trend', trend);
    }
    function makePiChart(days, spix, cpix){

      var dx = ["X"].concat(days);
      var spi = ["SPI"].concat(spix);
      var cpi = ["CPI"].concat(cpix);

      var pi = {

        "config": {
          "width": 800,
          "height": 240,
          "axisYLen":5,
          //"title": "Trend Chart",
          //"subTitle": "",
          "type": "line",
          "lineWidth": 4,
          //"xScaleXOffset": 4,
          "colorSet":
                ["lightblue","red","orange"],
          //"bgGradient": {
          //        "direction":"vertical",
          //        "from":"#222",
          //        "to":"#687478"
          //      }
          "bg": "white",
          //"useMarker": "css-ring",
          //"markerWidth": 12,
          "shadows":{
            "all":['#fff', 0, 0, 0]
          }
        },

        "data": [
          toDays(dx),
          spi,
          cpi
        ]
      };
      ccchart.init('pi', pi);
    }

    function toDays(dx){
      var count = dx.length - 1;
      var labelcount = 5;
      var blockSize = parseInt(count / labelcount);
      for (var i = 1; i < dx.length; i++) {
        var index = i - 1;
        if (index % blockSize == 0) {
            //dx[i] = Date.parse( dx[i] );
        }else {
            dx[i] = '';
        }
      }
      return dx;
    }

    // todo 共通化
    function getJson(url, jsonData, callback)
    {
      var query = $.param(jsonData);
      $.ajax({
        type:'get',
        url:url,
        data : query,
        dataType : 'JSON',
        scriptCharset: 'utf-8',
        success : callback,
        error : function(data) {
            // Error
            alert("error");
            alert(JSON.stringify(data));
        }
      });
    }

  });
</script>
}
