@{
  Layout = "ProjectMaster.cshtml";
}


<div class="row">
    <textarea class="col-md-12" rows="20" id="edit">@Model.SprintText</textarea>
    <button id="save" class="btn btn-default pull-right" >Save</button>
</div>


@section ProjectJs{
<script type="text/javascript">
        $(function () {
          $('#save').click(function(e){

            var jsonData = {
              edittext : $('#edit').val()
            };
            var json = JSON.stringify(jsonData);
            var url = '@Url.Content(string.Format("~/project/{0}/save",@Model.Project.Id))';
            $.ajax({
              type:'post',
              url:url,
              data : json,
              dataType : 'JSON',
              scriptCharset: 'utf-8',
              success : function(data) {
                    // Success
                    // alert("success");
                    location.href = '@Url.Content(string.Format("~/project/{0}", @Model.Project.Id))';
              },
              error : function(data) {
                  // Error
                  alert("error");
                  alert(JSON.stringify(data));
                  $("#response").html(JSON.stringify(data));
              }
            });

          });
        });
</script>
}
