@{
  Layout = "ProjectMaster.cshtml";
}


@Html.Partial("Sprint.cshtml", Model.Project)
<a class="btn btn-default pull-right" href="~/project/@Model.Project.Id/edit" >Edit</a>


@section ProjectJs{
<script type="text/javascript">
  $(function () {

    $(document).ready(function(){
      $('.task').each(function(){
        var isCompleted = $(this).attr('isCompleted').toLowerCase() == 'true';
        if (isCompleted == false) {
          return;
        }
        $(this).wrap('<s />');
      });
      $('.taskicon_done').each(function(){
        var isCompleted = $(this).attr('isCompleted').toLowerCase() == 'true';
        if (isCompleted == false) {
            $(this).hide();
        }else {
            $(this).show();
        }
      });

      $('.taskicon_ready').each(function () {
          var isCompleted = $(this).attr('isCompleted').toLowerCase() == 'true';
          if (isCompleted == false) {
              $(this).show();
          } else {
              $(this).hide();
          }

      });
    });
  });
</script>
}
