<ul>
  <li><a href="~/project/@Model.Id">Backlog</a></li>
  <li><a href="~/project/@Model.Id/board">Board</a></li>
  <li><a href="~/project/@Model.Id/issue">Issue</a></li>
  <li><a href="~/project/@Model.Id/report">Report</a></li>
  <li><a href="~/project/@Model.Id/works">Works</a></li>
  <li><a href="~/project/@Model.Id/kanban">Kanban</a></li>
</ul>
