@{
  Layout = "ProjectMaster.cshtml";
}

@section Projectcss{
<style type="text/css">
<!--
.media:hover {background: lightblue;}
.media {padding: 6px; margin:0px;}
.panel-body {padding:0px;}
.progress {margin-bottom:0px;}

-->
</style>
}

@Html.Partial("Sprint.cshtml", Model.Project)
<a class="btn btn-default pull-right" href="~/project/@Model.Project.Id/edit" >Edit</a>


@section ProjectJs{
<script type="text/javascript">
  $(function () {

    $(document).ready(function(){

      $('.sprint').each(function(){
        var isCompleted = $(this).attr('isAllCompleted').toLowerCase() == 'true';
        if (isCompleted == false) {
          return;
        }
        $(this).hide();
      });

      $('.task').each(function(){
        var isCompleted = $(this).attr('isCompleted').toLowerCase() == 'true';
        if (isCompleted == false) {
          return;
        }
        $(this).wrap('<s />');
      });

      $('.taskicon_done').each(function(){
        var isCompleted = $(this).attr('isCompleted').toLowerCase() == 'true';
        if (isCompleted == false) {
            $(this).css('visibility', 'hidden');
        }else {
            $(this).css('visibility', 'visible');
        }
      });


       $('[data-toggle="tooltip"]').tooltip();
    });

  });
</script>
}
