@Master['Views/SystemManageMaster']

@Section['sysContent']

  <div class="page-header">
      <h2>New User</h2>
  </div>

  <div class="input-group">
  	<span class="input-group-addon">Id</span>
  	<input id="userId" type="text" class="form-control" placeholder="userId">
  </div>

  <div class="input-group">
  	<span class="input-group-addon">Password</span>
  	<input id="password" type="text" class="form-control">
  </div>

  <div class="input-group">
  	<span class="input-group-addon">Name</span>
  	<input id="name" type="text" class="form-control">
  </div>

  <div class="checkbox">
    <label>
      <input id="isAdmin" type="checkbox"> IsAdmin
    </label>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button id="add" class="btn btn-default pull-right">Add</button>
    </div>
  </div>


@EndSection

@Section['sysjs']
<script type="text/javascript">
  $(function () {
    $('#add').click(function(e){
      var id = $('#userId').val();
      var password = $('#password').val();
      var name = $('#name').val();
      var role = $('#isAdmin').prop('checked') ? 'admin' : 'normal';

      var jsonData = {
        id:id,
        name:name,
        password:password,
        role:role,
      };
      var json = JSON.stringify(jsonData);
      var url = '@Path['~/api/users/']';
      $.ajax({
        type:'post',
        url:url,
        data : json,
        dataType : 'JSON',
        scriptCharset: 'utf-8',
        success : function(data) {
              location.href = '@Path['~/systemmanage/user']';
        },
        error : function(data) {
            // Error
            alert("error");
            alert(JSON.stringify(data));
            $("#response").html(JSON.stringify(data));
        }
      });
    });
  });
</script>
@EndSection
