@Master['Views/SystemManageMaster']

@Section['sysContent']

  <div class="page-header">
      <h2>Users</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-default pull-right" href="@Path['~/systemmanage/user/add']">New</a>
    </div>
  </div>

  @Each.Users
  <div class="panel panel-default" >
    <div class="panel-body">
      <div class="row">
        <div class="col-md-1" >
          <img src="@Current.IconFile;" class="img-rounded img-responsive" />
        </div>
        <div class="col-md-11">
          <a href="@Path['~/user/@Current.Id']">@Current.Name;</a>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <blockquote class="blockquote-reverse">
        @Current.Id; @Current.Role;
      </blockquote>
    </div>
  </div>
  @EndEach

@EndSection

@Section['sysjs']

@EndSection
