<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net452" />
  <package id="Haskellable" version="1.0.0.2" targetFramework="net452" />
  <package id="Nancy" version="1.2.0" targetFramework="net452" />
  <package id="Nancy.Bootstrappers.Unity" version="1.2.0" targetFramework="net452" />
  <package id="Nancy.Hosting.Self" version="1.2.0" targetFramework="net452" />
  <package id="Prism.PubSubEvents" version="1.1.2" targetFramework="net452" />
  <package id="Unity" version="2.1.505.0" targetFramework="net452" />
</packages>