<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="Haskellable" version="1.0.0.2" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net452" />
  <package id="Nancy" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Authentication.Basic" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Authentication.Forms" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Bootstrappers.Unity" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Prism.Core" version="6.1.0" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.99.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.99.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.99.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.99.0" targetFramework="net452" />
  <package id="Unity" version="2.1.505.0" targetFramework="net452" />
</packages>